# Datos de la BD
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_supabase
DB_URL=postgresql://postgres:contraseña@localhost:5432/postgres

# Configuración de JWT
JWT_SECRET=xyz123
JWT_EXPIRES_IN=24h

# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de seguridad
CORS_ORIGIN=http://localhost:3001

